*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-size: 10px;
    font-family: Neuzeit Grotesk; sans-serif;
    color: #000000;
    position: relative;
}

.container1{
    max-width: 606px;
    margin: 0 auto;
}

.container2 {
    max-width: 606px;
    position: relative;
    max-width: 606px;
    margin: 0 auto;
}

.in{
    width: 50px;
    position:relative;
    top: 180px;
    right: -30%;
}

.lyly{
    object-position: center;
    width: 466px;
    position: absolute;
}

.circle {
    width: 247px;
    height: 247px;
    background: #C0E2CA;
    opacity: 0.5;
    margin: 0;
    border-radius: 50%;
    position:relative;
    top: 250px;
    right: -40%;
}
   
h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8em;
    line-height: 58px;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}

article{
    position: center;
    max-width: 606px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 2.4em;
    line-height: 29px;
}
